.buenard-font {
    font-family: "buenard";
}



.hero-img {
    background-image: url(/assets/hero-img.png);
    background-size: cover;
    background-position: center;
    min-height: 50dvh;

}

.bottom-img {
    background-image: url(/assets/hero-img.png);
    background-size: cover;
    background-position: center;
    min-height: 25dvh;

}

.nav-logo {
    width: 80px;
    object-fit: contain;
}

.nav-bg {
    background-color: #6f7680;
}

.nav-bar,
a {
    text-decoration: none;
    color: aliceblue;
}

.card-padding {
    padding: 80px;
}

.containing-block {
    position: relative;
    min-height: 10vh;
    padding: 85px;
}


.side-img {
    width: 100%;
    object-fit: contain;
}

.star-color {
    color: #6f7680;
    font-size: 30px;
}

@media (min-width: 768px) {


    .fun-card {
        position: absolute;
        bottom: -15vh;
    }

    .fun-card-offset {
        margin-top: 15vh;
    }



}